## 모듈 불러오기 ##

In [1]:
import pandas as pd # csv, xlsx 데이터를 다루기 위한 라이브러리
import pororo_module # pororo 내 기계독해, 제로샷 분류, 광학 문자 인식 기능을 가지는 모듈

## 함수 객체 생성 ##

In [2]:
mrc = pororo_module.pororo_mrc
zsl = pororo_module.pororo_zsl
ocr = pororo_module.pororo_ocr

## 사용 데이터 불러오기 ##

In [6]:
df = pd.read_csv('./data/news_data.csv')
ocr_df = pd.read_excel('./data/ocr_data.xlsx')

In [7]:
df.head(3)

                                                news
0  문화일보 오해원 2024년부터 파3 9홀도 핸디캡 적용 2024년 1월부터 달라진 ...
1  국민일보 정대균 유해란, 100년 독일 스포츠 용품사 ‘우벡스’와 후원 계약 작년 ...
2  국민일보 정대균 ‘R&A 수장’마틴 슬럼버스, 올해 말 사퇴한다 R&A의 최고경영자...

In [8]:
ocr_df.head(3)

        img_path
0  ./sample1.jpg
1  ./sample2.jpg
2  ./sample3.png

## 기계독해 모듈 사용 예시 ##
0. 기계독해란? : 주어진 텍스트 내 사용자가 던진 질문에 대한 답을 추충해서 보여주는 기술
1. 테이블 형테의 텍스트 데이터를 불러오기
2. 질문 리스트 생성하기(원하는 추출 대상 부근의 서술어 및 명사에 유의하여 생성)
3. 함수 파라미터
    - df : 데이터 ex) df = df
    - col_name : 텍스트 데이터 컬럼명
    - qst_list : 질문 리스트 ex) ['기자의 이름은 무엇인가요?'...]
    - save=False : 저장 여부 기본값 False
    - sfname='mrc_result' : 저장시 파일 이름명 기본값 mrc_result

In [4]:
qst_list = ['기자의 이름은 무엇인가요?', '언론사 이름은 무엇인가요?', '어떤 종목인가요?']
mrc(df, 'news', qst_list, save=True)

0it [00:00, ?it/s]

  0%|          | 0/361 [00:00<?, ?it/s]

  0%|          | 0/361 [00:00<?, ?it/s]

  0%|          | 0/361 [00:00<?, ?it/s]

성공 : 1083 / 실패 : 0

,news,ans1,ans2,ans3
0,문화일보 오해원 2024년부터 파3 9홀도 핸디캡 적용 2024년 1월부터 달라진 ...,오해원,문화일보,파3
1,"국민일보 정대균 유해란, 100년 독일 스포츠 용품사 ‘우벡스’와 후원 계약 작년 ...",정대균,국민일보,
2,"국민일보 정대균 ‘R&A 수장’마틴 슬럼버스, 올해 말 사퇴한다 R&A의 최고경영자...",정대균,"로이터, AP통신",골프
3,문화일보 정세영 KBO 신임 사무총장에 박근찬 운영팀장 선임 한국야구위원회(KBO)...,정세영,문화일보,
4,조선일보 오재용 기자 코로나 풀리자 해외로...제주 골프장 이용객 40만명 줄었다 ...,오재용 기자,조선일보,골프장 이용객이 전년보다 40만명이나 줄었다. 이용객 감소는 일본이나 동남아의 골프
...,...,...,...,...
356,서울신문 이기철 ‘돌풍’ 삼성화재 ‘2’보다 더 불안할 수가! “기로에 선 절박한 ...,서울신문 이기철,서울신문,
357,"서울신문 홍지민 우즈, 나이키 모자 27년 만에 벗는다 ‘골프 황제’ 타이거 우즈와...",홍지민,서울신문,골프의
358,서울신문 장형우 ‘42’ 야구하기 딱 좋은 나이 프로야구 현역 은퇴를 고민하게 되는...,서울신문,서울신문,프로야구
359,국민일보 윤민섭 LCK 17일 개막 우승 후보 1순위 꼽힌 팀은 T1 국내 최고 인...,윤민섭,국민일보 윤민섭 LCK 17일 개막 우승 후보 1순위 꼽힌 팀은 T1 국내 최고 인...,e스포츠
360,서울신문 이기철 독일 축구의 ‘전설’ 베켄바워 하늘의 축구장으로 독일 축구의 최전성...,이기철,서울신문,하늘의 축구장

## 제로샷 분류 모듈 사용 예시 ##
0. 제로샷이란? : 모델이 학습 과정에서 배우지 않은 작업을 수행하는 것, 본 모듈은 텍스트를 사용자가 지정한 분류값 리스트 중 하나로 분류함
1. 테이블 형테의 텍스트 데이터를 불러오기
2. 카텔고리 리스트 생성하기
3. 함수 파라미터
    - df : 데이터 ex) df = df
    - col_name : 텍스트 데이터 컬럼명
    - categories : 분류값 리스트 ex) ['축구', '야구'...]
    - save=False : 저장 여부 기본값 False
    - sfname='zsl_result' : 저장시 파일 이름명 기본값 zsl_result

In [5]:
catagory_list = ['축구', '야구', '농구', '골프', 'e스포츠']
zsl(df, col_name='news', categories=catagory_list, save=True)

  0%|          | 0/361 [00:00<?, ?it/s]

성공 : 361 / 실패 : 0

,news,ans1,ans2,ans3,category
0,문화일보 오해원 2024년부터 파3 9홀도 핸디캡 적용 2024년 1월부터 달라진 ...,오해원,문화일보,파3,골프
1,"국민일보 정대균 유해란, 100년 독일 스포츠 용품사 ‘우벡스’와 후원 계약 작년 ...",정대균,국민일보,,e스포츠
2,"국민일보 정대균 ‘R&A 수장’마틴 슬럼버스, 올해 말 사퇴한다 R&A의 최고경영자...",정대균,"로이터, AP통신",골프,골프
3,문화일보 정세영 KBO 신임 사무총장에 박근찬 운영팀장 선임 한국야구위원회(KBO)...,정세영,문화일보,,야구
4,조선일보 오재용 기자 코로나 풀리자 해외로...제주 골프장 이용객 40만명 줄었다 ...,오재용 기자,조선일보,골프장 이용객이 전년보다 40만명이나 줄었다. 이용객 감소는 일본이나 동남아의 골프,골프
...,...,...,...,...,...
356,서울신문 이기철 ‘돌풍’ 삼성화재 ‘2’보다 더 불안할 수가! “기로에 선 절박한 ...,서울신문 이기철,서울신문,,농구
357,"서울신문 홍지민 우즈, 나이키 모자 27년 만에 벗는다 ‘골프 황제’ 타이거 우즈와...",홍지민,서울신문,골프의,골프
358,서울신문 장형우 ‘42’ 야구하기 딱 좋은 나이 프로야구 현역 은퇴를 고민하게 되는...,서울신문,서울신문,프로야구,야구
359,국민일보 윤민섭 LCK 17일 개막 우승 후보 1순위 꼽힌 팀은 T1 국내 최고 인...,윤민섭,국민일보 윤민섭 LCK 17일 개막 우승 후보 1순위 꼽힌 팀은 T1 국내 최고 인...,e스포츠,e스포츠
360,서울신문 이기철 독일 축구의 ‘전설’ 베켄바워 하늘의 축구장으로 독일 축구의 최전성...,이기철,서울신문,하늘의 축구장,축구

## 광학 문자 인식 모듈 사용 예시
## 제로샷 분류 모듈 사용 예시 ##
0. 제로샷이란? : 모델이 학습 과정에서 배우지 않은 작업을 수행하는 것, 본 모듈은 텍스트를 사용자가 지정한 분류값 리스트 중 하나로 분류함
1. 테이블 형테의 텍스트 데이터를 불러오기
2. 카텔고리 리스트 생성하기
3. 함수 파라미터
    - df : 데이터 ex) df = df
    - img_path_col : 이미지 경로 데이터 컬럼명
    - save=False : 저장 여부 기본값 False
    - sfname='ocr_result' : 저장시 파일 이름명 기본값 ocr_result

In [10]:
ocr(df=ocr_df, img_path_col='img_path', save=True)

  0%|          | 0/4 [00:00<?, ?it/s]

/home/cslee/anaconda3/envs/pororo/lib/python3.7/site-packages/torch/nn/functional.py:3384: UserWarning: Default grid_sample and affine_grid behavior has changed to align_corners=False since 1.3.0. Please specify align_corners=True if the old behavior is desired. See the documentation of grid_sample for details.
  warnings.warn("Default grid_sample and affine_grid behavior has changed "

성공 : 4 / 실패 : 0

,img_path,description,bounding_poly
0,./sample1.jpg,[사나이는 사나이답게 마무리 짓는다.],"[{'description': '사나이는 사나이답게 마무리 짓는다.', 'verti..."
1,./sample2.jpg,"[각변경기관에서 대내객, 혹은 대외적 공주를 감행하기 위쳐 작성하는 문서용 의미하며...","[{'description': '각변경기관에서 대내객, 혹은 대외적 공주를 감행하기..."
2,./sample3.png,"[ChatGPT 새벽이 서서히 찾아오던 어느 날, 한 남자가 조용한 동네의 골목길을...","[{'description': 'ChatGPT 새벽이 서서히 찾아오던 어느 날, 한..."
3,./sample4.png,"[#. 별첨 11.민방위 경보 가청률 및 가청권율 분석 상세 내용', (1 분석 과...",[{'description': '#. 별첨 11.민방위 경보 가청률 및 가청권율 분...